
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oops</title>
</head>
<body>
    <div> 
        Sorry. Unexpected error happen.
    </div>
</body>
</html>
